.App {
  text-align: center;
}

.popup{
  border:1px solid gainsboro;
  padding: 1em;
}

.matrix-row{
 display: flex;
}
.matrix-col{
  width: 3em;
  height: 3em;
  border: 1px solid #000;
}

.active{
  background: gainsboro;
}